@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --clr-theme: #22A6E0;
}

:where(*, *::before, *::after) {
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
}

:where(html) {
  box-sizing: border-box;
  font-size: 62.5%;
}

:where(body) {
  line-height: 1.15;
}

:where(html, body, button, input, select, p, ol, ul, li, h1, h2, h3, h4, h5, h6) {
  margin: 0;
  padding: 0;
}

:where(ol, ul) {
  list-style: none;
}

:where(table) {
  border-collapse: collapse;
  border-spacing: 0;
}

:where(a, button) {
  text-decoration: none;
  color: inherit;
  cursor: revert;
}

:where(button) {
  border: none;
}

:where(img) {
  max-width: 100%;
}

:where(.default-page) {
  background: var(--greyLight-1);
}
:where(.default-page) :where(.default-wrapper) {
  height: 100vh;
  display: flex;
  align-items: center;
}

:where(.default-sidebar) {
  border: solid;
  display: flex;
  place-content: center;
  align-items: center;
}
:where(.default-sidebar) :where(.neumorphic) {
  --taille: 300px;
  position: relative;
  height: var(--taille);
  width: var(--taille);
  display: flex;
  place-content: center;
  align-items: center;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 1rem;
}
:where(.default-sidebar) :where(.neumorphic) :where(.btn-neumorphic) {
  --taille: 150px;
  position: absolute;
  z-index: 300;
  height: var(--taille);
  width: var(--taille);
  color: var(--primary);
  background: var(--greyLight-1);
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 50%;
  cursor: pointer;
}
:where(.default-sidebar) :where(.neumorphic) :where(.btn-neumorphic) :where(span) {
  font-size: 4rem;
  color: var(--clr-theme);
}
:where(.default-sidebar) :where(.neumorphic) :where(.neumorphic-effet1, .neumorphic-effet2) {
  --taille: 145px;
  position: absolute;
  z-index: 100;
  filter: blur(1px);
  border-radius: 50%;
  height: var(--taille);
  width: var(--taille);
  transition: animation, background, box-shadow, 0.4s ease-in-out;
}
:where(.default-sidebar) :where(.neumorphic) :where(.neumorphic-effet1) {
  animation: waves 4s linear infinite;
  background: linear-gradient(to bottom right, var(--greyLight-2) 0%, var(--white) 100%);
  box-shadow: 0.4rem 0.4rem 0.8rem var(--greyLight-2), -0.4rem -0.4rem 0.8rem var(--white);
}
:where(.default-sidebar) :where(.neumorphic) :where(.neumorphic-effet2) {
  animation: waves 4s linear 2s infinite;
  box-shadow: 0.4rem 0.4rem 0.8rem var(--greyLight-2), -0.4rem -0.4rem 0.8rem var(--white);
}
:where(.default-sidebar):where(.start) {
  --height: 80%;
  --width: 90%;
  height: var(--height);
  width: var(--width);
  margin: auto;
}
:where(.default-sidebar):where(.start) :where(.btn-neumorphic, .neumorphic-effet1, .neumorphic-effet2) {
  display: none;
}
:where(.default-sidebar):where(.start) :where(.neumorphic-effet1) {
  animation: waves 3s linear;
}
:where(.default-sidebar):where(.start) :where(.neumorphic-effet2) {
  animation: waves 3s linear 1.5s;
}
:where(.default-sidebar):where(.start) :where(.neumorphic-effet1, .neumorphic-effet2) {
  background: inherit;
  box-shadow: none;
}

@keyframes waves {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes visible {
  0% {
    display: none;
  }
  100% {
    display: block;
  }
}