@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --clr-theme: #22A6E0;
}

:where(*, *::before, *::after) {
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
}

:where(html) {
  box-sizing: border-box;
  font-size: 62.5%;
}

:where(body) {
  line-height: 1.15;
}

:where(html, body, button, input, select, p, ol, ul, li, h1, h2, h3, h4, h5, h6) {
  margin: 0;
  padding: 0;
}

:where(ol, ul) {
  list-style: none;
}

:where(table) {
  border-collapse: collapse;
  border-spacing: 0;
}

:where(a, button) {
  text-decoration: none;
  color: inherit;
  cursor: revert;
}

:where(button) {
  border: none;
}

:where(img) {
  max-width: 100%;
}

:where(.default-page) {
  background: var(--greyLight-1);
}
:where(.default-page) :where(.default-container) {
  height: 100vh;
  max-width: 1400px;
  display: flex;
  align-items: center;
  place-content: center;
  margin: auto;
  border-radius: 1rem;
}
:where(.default-page) :where(.default-wrapper) {
  display: flex;
  align-items: center;
  place-content: center;
  height: 80%;
  width: 80%;
}
:where(.default-page) :where(.default-wrapper) :where(.default-sidebar) {
  display: flex;
  place-content: center;
  align-items: center;
  flex: auto;
}
:where(.default-page) :where(.default-wrapper) :where(.default-main) {
  transition: all 2s ease-in-out;
  height: 0;
  flex: 0;
}

:where(.default-sidebar) :where(.neumorphic) {
  --taille: 300px;
  position: relative;
  height: var(--taille);
  width: var(--taille);
  display: flex;
  place-content: center;
  align-items: center;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 1rem;
}
:where(.default-sidebar) :where(.neumorphic) :where(.btn-neumorphic) {
  --taille: 150px;
  position: absolute;
  z-index: 300;
  height: var(--taille);
  width: var(--taille);
  color: var(--primary);
  background: var(--greyLight-1);
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 50%;
  cursor: pointer;
}
:where(.default-sidebar) :where(.neumorphic) :where(.btn-neumorphic) :where(span) {
  font-size: 4rem;
  color: var(--clr-theme);
}
:where(.default-sidebar) :where(.neumorphic) :where(.neumorphic-effet1, .neumorphic-effet2) {
  --taille: 145px;
  position: absolute;
  z-index: 100;
  filter: blur(1px);
  border-radius: 50%;
  height: var(--taille);
  width: var(--taille);
  transition: animation, background, box-shadow, 0.4s ease-in-out;
}
:where(.default-sidebar) :where(.neumorphic) :where(.neumorphic-effet1) {
  animation: waves 4s linear infinite;
  background: linear-gradient(to bottom right, var(--greyLight-2) 0%, var(--white) 100%);
  box-shadow: 0.4rem 0.4rem 0.8rem var(--greyLight-2), -0.4rem -0.4rem 0.8rem var(--white);
}
:where(.default-sidebar) :where(.neumorphic) :where(.neumorphic-effet2) {
  animation: waves 4s linear 2s infinite;
  box-shadow: 0.4rem 0.4rem 0.8rem var(--greyLight-2), -0.4rem -0.4rem 0.8rem var(--white);
}
:where(.default-sidebar) :where(.sidebar-wrapper) {
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  place-content: center;
  height: 300px;
  width: 0;
  overflow: hidden;
  transition: all 2s ease-in-out;
}
:where(.default-sidebar) :where(.sidebar-wrapper) :where(.sidebar-container) {
  padding: 1rem 0 4rem;
  display: none;
}
:where(.default-sidebar) :where(.sidebar-wrapper) :where(.sidebar-container) :where(.sidebar-titre) {
  padding: 1rem 0 3rem;
  font-size: 2rem;
}
:where(.default-sidebar) :where(.sidebar-wrapper) :where(.sidebar-container) :where(.sidebar-titre) :where(span) {
  color: var(--clr-theme);
}
:where(.default-sidebar) :where(.sidebar-wrapper) :where(.sidebar-container) :where(.sidebar-content) {
  display: flex;
  gap: 3rem;
}
:where(.default-sidebar) :where(.sidebar-wrapper) :where(.sidebar-container) :where(.sidebar-content) :where(.sidebar-items) {
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  padding: 0.5rem;
  width: 140px;
  border-radius: 1rem;
}
:where(.default-sidebar) :where(.sidebar-wrapper) :where(.sidebar-container) :where(.sidebar-content) :where(.sidebar-items) :where(.sidebar-text) {
  border-radius: 1rem;
  padding: 1.5rem 0;
  text-align: center;
}
:where(.default-sidebar) :where(.sidebar-wrapper) :where(.sidebar-container) :where(.sidebar-content) :where(.sidebar-items) :where(.sidebar-text) :where(p) {
  padding: 1.5rem;
  text-align: justify;
  line-height: 1.6;
}
:where(.default-sidebar) :where(.sidebar-wrapper) :where(.sidebar-container) :where(.sidebar-content) :where(.sidebar-items) :where(.sidebar-text) :where(button) {
  cursor: pointer;
  border-radius: 3rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  padding: 0.25rem 2rem;
  background-color: inherit;
}
:where(.default-sidebar) :where(.sidebar-wrapper) :where(.sidebar-container) :where(.sidebar-content) :where(.sidebar-items) :where(.sidebar-items:hover .sidebar-text) {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--clr-theme);
}

:where(.default-wrapper.start):where(:has(.btn-sidebar.active)) {
  gap: 5rem;
}
:where(.default-wrapper.start) :where(.neumorphic) {
  border: solid;
  display: none;
  transition: all 1s ease-in-out;
}
:where(.default-wrapper.start) :where(.neumorphic) :where(.btn-neumorphic, .neumorphic-effet1, .neumorphic-effet2) {
  display: none;
}
:where(.default-wrapper.start) :where(.neumorphic) :where(.neumorphic-effet1) {
  animation: waves 3s linear;
}
:where(.default-wrapper.start) :where(.neumorphic) :where(.neumorphic-effet2) {
  animation: waves 3s linear 1.5s;
}
:where(.default-wrapper.start) :where(.neumorphic) :where(.neumorphic-effet1, .neumorphic-effet2) {
  background: inherit;
  box-shadow: none;
}
:where(.default-wrapper.start) :where(.sidebar-wrapper) {
  flex: auto;
}
:where(.default-wrapper.start) :where(.sidebar-wrapper) :where(.sidebar-container) {
  display: block;
}
:where(.default-wrapper.start) :where(.sidebar-wrapper) :where(.sidebar-container):where(:has(.btn-sidebar.active)) {
  display: flex;
  flex-flow: column;
  padding: 2.1rem;
}
:where(.default-wrapper.start) :where(.sidebar-wrapper) :where(.sidebar-container):where(:has(.btn-sidebar.active)) :where(.sidebar-titre) {
  padding-left: 2rem;
}
:where(.default-wrapper.start) :where(.sidebar-wrapper) :where(.sidebar-container):where(:has(.btn-sidebar.active)) :where(.sidebar-content) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  place-content: center;
}
:where(.default-wrapper.start) :where(.sidebar-wrapper) :where(.sidebar-container):where(:has(.btn-sidebar.active)) :where(.sidebar-text):where(:has(.btn-sidebar.active)) {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--clr-theme);
}
:where(.default-wrapper.start) :where(.sidebar-wrapper):where(:has(.btn-sidebar.active)) {
  transition: all 2s ease-in-out;
  height: 100%;
  flex: 1;
}
:where(.default-wrapper.start) :where(.default-sidebar) {
  height: 100%;
}
:where(.default-wrapper.start) :where(.default-main.active) {
  display: block;
  flex: 1.5;
  height: 100%;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 1rem;
  padding: 2rem;
}
:where(.default-wrapper.start):where(:has(.btn-sidebar.active)) {
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  padding: 5rem;
}

@keyframes waves {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes visible {
  0% {
    display: none;
  }
  100% {
    display: block;
  }
}