@use '../abstracts' as *;



:where(.default-page) {
    background: var(--greyLight-1);

    :where(.default-container) {
        height: 100vh;
        max-width: 1400px;
        display: flex;
        align-items: center;
        place-content: center;
        margin: auto;
        border-radius: $border-radius;
    }

    :where(.default-wrapper) {
        display: flex;
        align-items: center;
        place-content: center;
        height: 80%;
        width: 80%;

        :where(.default-sidebar) {
            display: flex;
            place-content: center;
            align-items: center;
            flex: auto;
        }
        :where(.default-main) {
            transition: all 2s ease-in-out;
            height: 0;
            flex: 0;
        }
    }
}

:where(.default-sidebar) {

    :where(.neumorphic) {
        --taille: 300px;


        position: relative;
        height: var(--taille);
        width: var(--taille);
        display: flex;
        place-content: center;
        align-items: center;
        box-shadow: $shadow;
        border-radius: $border-radius;

        :where(.btn-neumorphic) {
            --taille: 150px;


            position: absolute;
            z-index: 300;
            height: var(--taille);
            width: var(--taille);
            color: var(--primary);
            background: var(--greyLight-1);
            box-shadow: $shadow;
            border-radius: 50%;
            cursor: pointer;
            // &.shadow {box-shadow: $inner-shadow;}


            :where(span) {
                font-size: 4rem;
                color: var(--clr-theme);
            }
        }
        :where(.neumorphic-effet1, .neumorphic-effet2) {
            --taille: 145px;
        
            position: absolute;
            z-index: 100;
            filter: blur(1px);
            border-radius: 50%;
            height: var(--taille);
            width: var(--taille);
            transition: animation, background,box-shadow, .4s ease-in-out;
        }
        :where(.neumorphic-effet1) {
            animation: waves 4s linear infinite;
            background: linear-gradient(to bottom right, var(--greyLight-2) 0%, var(--white) 100%);
            box-shadow: .4rem .4rem .8rem var(--greyLight-2), 
            -.4rem -.4rem .8rem var(--white);
        }
        :where(.neumorphic-effet2) {
            animation: waves 4s linear 2s infinite;
            box-shadow: .4rem .4rem .8rem var(--greyLight-2), 
            -.4rem -.4rem .8rem var(--white);
        }

    }
    :where(.sidebar-wrapper) {
        // border: solid rgb(0, 37, 91);
        box-shadow: $shadow;
        border-radius: $border-radius;
        display: flex;
        align-items: center;
        place-content: center;
        height: 300px;
        width: 0;
        overflow: hidden;
        transition: all 2s ease-in-out; //! ok

        :where(.sidebar-container) {
            // border: solid red;
            padding: 1rem 0 4rem;
            display: none;
            

            :where(.sidebar-titre) {
                padding: 1rem 0 3rem;
                font-size: 2rem;
    
                :where(span) {
                    color: var(--clr-theme);
                }
            }
            :where(.sidebar-content) {
                display: flex;
                gap: 3rem;

                :where(.sidebar-items) {
                    box-shadow: $shadow;
                    padding: .5rem;
                    width: 140px;
                    border-radius: $border-radius;

                    :where(.sidebar-text) {
                        border-radius: $border-radius;
                        padding: 1.5rem 0;
                        text-align: center;

                        :where(p) {
                            padding: 1.5rem;
                            text-align: justify;
                            line-height: 1.6;
                        }

                        :where(button) {
                            cursor: pointer;
                            border-radius: 3rem;
                            box-shadow: $shadow;
                            padding: .25rem 2rem;
                            background-color: inherit;
                        }
                    }
                    :where(.sidebar-items:hover .sidebar-text) {
                        box-shadow: $inner-shadow;
                        color: var(--clr-theme);
                    }
                }
            }
        }
    }
}

:where(.default-wrapper.start) {
    
    &:where(:has(.btn-sidebar.active)) {
        gap: 5rem;
    }
    :where(.neumorphic) {
        border: solid;
        display: none;
        transition: all 1s ease-in-out;

        :where(.btn-neumorphic, .neumorphic-effet1, .neumorphic-effet2) {
            display: none;
        }
        :where(.neumorphic-effet1) {
            animation: waves 3s linear ;
        }
        :where(.neumorphic-effet2) {
            animation: waves 3s linear 1.5s;
        }
        :where(.neumorphic-effet1, .neumorphic-effet2) {
            background: inherit;
            box-shadow: none;
        }
    }
    :where(.sidebar-wrapper) {
        flex: auto;
        
        :where(.sidebar-container) {
            display: block;
            
            &:where(:has(.btn-sidebar.active)) {
                display: flex;
                flex-flow: column;
                padding: 2.1rem;

                :where(.sidebar-titre) {
                    padding-left: 2rem;
                }
                :where(.sidebar-content) {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    place-content: center;
                }
                :where(.sidebar-text) {
                    &:where(:has(.btn-sidebar.active)) {
                        box-shadow: $inner-shadow;
                        color: var(--clr-theme);
                    }
                }
            }
        }
        &:where(:has(.btn-sidebar.active)) {
            transition: all 2s ease-in-out;
            height: 100%;
            flex: 1;
        }
    }

    :where(.default-sidebar) {
        height: 100%;
    }
    :where(.default-main.active) {
        display: block;
        flex: 1.5;
        height: 100%;
        box-shadow: $inner-shadow;
        border-radius: $border-radius;
        padding: 2rem;
    }
    &:where(:has(.btn-sidebar.active)) {
        box-shadow: $shadow;
        padding: 5rem;
    }
} 
