@use '../abstracts' as *;

:where(.default-page) {
    background: var(--greyLight-1);


    :where(.default-wrapper) {
        // border: solid 5px rgb(53, 139, 0);
        height: 100vh;
        display: flex;
        align-items: center;
    }
}

:where(.default-sidebar) {
    border: solid;
    display: flex;
    place-content: center;
    align-items: center;

    :where(.neumorphic) {
        // border: solid;
        --taille: 300px;


        position: relative;
        height: var(--taille);
        width: var(--taille);
        display: flex;
        place-content: center;
        align-items: center;
        box-shadow: $shadow;
        border-radius: 1rem;
        // transition: height, width, 2s ease-in-out;
        // overflow: hidden;

        :where(.btn-neumorphic) {
            --taille: 150px;


            position: absolute;
            z-index: 300;
            height: var(--taille);
            width: var(--taille);
            color: var(--primary);
            background: var(--greyLight-1);
            box-shadow: $shadow;
            border-radius: 50%;
            cursor: pointer;
            // &.shadow {box-shadow: $inner-shadow;}


            :where(span) {
                font-size: 4rem;
                color: var(--clr-theme);
            }
        }
        :where(.neumorphic-effet1, .neumorphic-effet2) {
            --taille: 145px;
        
            position: absolute;
            z-index: 100;
            filter: blur(1px);
            border-radius: 50%;
            height: var(--taille);
            width: var(--taille);
            transition: animation, background,box-shadow, .4s ease-in-out;
        }
        :where(.neumorphic-effet1) {
            animation: waves 4s linear infinite;
            background: linear-gradient(to bottom right, var(--greyLight-2) 0%, var(--white) 100%);
            box-shadow: .4rem .4rem .8rem var(--greyLight-2), 
            -.4rem -.4rem .8rem var(--white);
        }
        :where(.neumorphic-effet2) {
            animation: waves 4s linear 2s infinite;
            box-shadow: .4rem .4rem .8rem var(--greyLight-2), 
            -.4rem -.4rem .8rem var(--white);
        }
    }

    &:where(.start) {
        --height: 80%;
        --width: 90%;
    
        
        height: var(--height);
        width: var(--width); //* A cause du align-items: center du parent m'oblige à préciser le WIDTH
        margin: auto;

        :where(.btn-neumorphic, .neumorphic-effet1, .neumorphic-effet2) {
            display: none;
        }
        :where(.neumorphic-effet1) {
            animation: waves 3s linear ;
        }
        :where(.neumorphic-effet2) {
            animation: waves 3s linear 1.5s;
        }
        :where(.neumorphic-effet1, .neumorphic-effet2) {
            background: inherit;
            box-shadow: none;
        }
    }
}

